**Installation des librairies**

In [104]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn) (3.2.0)

In [116]:
pip install numpy

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [105]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [131]:
import sklearn
import pandas as pd 
import numpy as np

**Chargement et visualisation du dataset**

In [132]:
dataset = pd.read_csv("./titanic.csv")
dataset = pd.DataFrame(dataset)
dataset.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

**CrÃ©ation d'un nouveau dataset qui contient uniquement les colonnes "age", "sex" et "survived".**
**On supprime les valeurs nulles dans les lignes de ce nouveau dataset.**

In [133]:
dataset = dataset[['Age', 'Sex', '2urvived']]
dataset.dropna(axis = 0)
dataset.head()

    Age  Sex  2urvived
0  22.0    0         0
1  38.0    1         1
2  26.0    1         1
3  35.0    1         1
4  35.0    0         0

**On importe l'algorithme qui va nous servir de modÃ¨le**

In [134]:
from sklearn.neighbors import KNeighborsClassifier

In [135]:
model = KNeighborsClassifier()

**On dÃ©finit la variable qui va contenir toutes les features (X) et la variable Ã  prÃ©dire (y).**

In [136]:
X = dataset.drop('2urvived', axis = 1)
y = dataset['2urvived']

**On entraine X et y, et on Ã©value la fiabilitÃ© du rÃ©sultat.**

In [137]:
model.fit(X, y)
model.score(X, y)

0.7776928953399541

In [138]:
model.predict(X)

array([0, 1, 1, ..., 0, 0, 0])

**On teste notre modÃ¨le grÃ¢ce Ã  une fonction "survie". Ici un homme(0) de 35 ans n'aurais pas survÃ©cu au

In [144]:
def survie(model, Age=35, Sex=0):
    x = np.array([Age, Sex]).reshape(1, 2)
    print(model.predict(x))

In [145]:
survie(model)

[0]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(